<section class="bannerDetails">
    <div class="container flex">
        <div class="bannerDetails__content padding-md padding-sm">
            <div class="bannerDetails__title">
                <h1>Call of Duty: WWII</h1>
            </div>
            <div class="bannerDetails__subtitle">
                <p>Released on: 23/11/2017</p>
            </div>
            <div class="bannerDetails__desc">
                <p>Experience the story of the unbreakable brotherhood of common men fighting to preserve freedom in a world on the brink of tyranny.</p>
            </div>
            <div class="bannerDetails__buttons">
                <button type="button" class="button"><a href="#!" class="button__link">Order Now</a></button>
                <button type="button" class="button"><a href="#!" class="button__link">More Games</a></button>
            </div>
       </div>
    </div>
</section>
