<section class="designLab">
    <div class="container">
        <div class="designLab__title">
            <h2>Xbox Design Lab</h2>
        </div>
        <div class="designLab__subtitle">
            <p>Make yours one in a billion with new colors, metallic finishes and rubberized grips.</p>
        </div>
        <div class="designLab__buttons">
            <button type="button" class="button bg-gray designLab__button"><a href="" class="button__link">Design Yours</a></button>
            <button type="button" class="button bg-gray designLab__button"><a href="" class="button__link">Explore Consoles &amp; Accessories</a></button>
        </div>
    </div>
</section>
