<section class="exclusive padding-md padding-sm">
    <div class="container">
       <div class="exclusive__title title-sm">
           <h2>Exclusive games on XBOX</h2>
       </div>
        <div class="cards exclusive-slider">
            <div class="card">
                <div class="card__img">
                    <img src="./img/exclusive__card-pic-1.jpg" alt="" class="card-pic">
                </div>
                <div class="card__title">
                    <h3>Call of Duty: WWII</h3>
                </div>
                <div class="card__subtitle">
                    <p>The C.O.D.E. Bravery Pack is now available in WWII</p>
                </div>
                <div class="card__button">
                    <button type="button" class="button effect"><a href="/gameDetails.html" class="button__link">See Details</a></button>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="./img/exclusive__card-pic-2.jpg" alt="" class="card-pic">
                </div>
                <div class="card__title">
                    <h3>Destiny 2</h3>
                </div>
                <div class="card__subtitle">
                    <p>The darkness is closer than you think</p>
                </div>
                <div class="card__button">
                    <button type="button" class="button effect"><a href="#!" class="button__link">See Details</a></button>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="./img/exclusive__card-pic-3.jpg" alt="" class="card-pic">
                </div>
                <div class="card__title">
                    <h3>STEEP</h3>
                </div>
                <div class="card__subtitle">
                    <p>Ride the massive open world of the Alps</p>
                </div>
                <div class="card__button">
                    <button type="button" class="button effect"><a href="#!" class="button__link">See Details</a></button>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="./img/exclusive__card-pic-4.jpg" alt="" class="card-pic">
                </div>
                <div class="card__title">
                    <h3>Forza Motorsport 7</h3>
                </div>
                <div class="card__subtitle">
                    <p>Challenge yourself across 30 destinations and 200 Tracks</p>
                </div>
                <div class="card__button">
                   <button type="button" class="button effect"><a href="#!" class="button__link">See Details</a></button>
                </div>
            </div>
        </div>
        <div class="exclusive__button">
            <button type="button" class="bg-gray button"><a class="button__link" href="#!">XBOX Store</a></button>
        </div>
    </div>
</section>
