<footer class="footer">
    <div class="container">
        <div class="footer__nav">
            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <h3 class="footer__menu-title">XBOX</h3>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-link">Support</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-link">Contact us</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-link">Privacy &amp; cookies</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-link">Terms of use</a>
                </li>
            </ul>
            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <h3 class="footer__menu-title">Developers</h3>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-link">Games</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-link">Windows 10</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-link">Creators Program</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-link">Designed for XBOX</a>
                </li>
            </ul>
            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <h3 class="footer__menu-title">Follow Us</h3>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-link"><i class="fa fa-facebook-f"></i></a>
                    <a href="#!" class="footer__menu-link"><i class="fa fa-twitter"></i></a>
                    <a href="#!" class="footer__menu-link"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <h4>English (United States)</h4>
            <h4>© Microsoft 2017</h4>
        </div>
    </div>
</footer>
