<header class="header">
    <div class="container">
        <div class="header__logo">
            <a href="#!" class="header__logo-link">
                <img src="./img/svg/xbox-logo.svg" alt="logo">
            </a>
        </div>
        <nav class="header__nav">
            <ul class="header-top__list">
                <li class="header-top__item opacity">
                    <a href="#!" class="header__link">Games<i class="fa fa-angle-down"></i></a>
                    <ul class="header-sub__list">
                        <li class="header-sub__item">
                            <a href="#!" class="header__link opacity">Lorem</a>
                        </li>
                        <li class="header-sub__item">
                            <a href="#!" class="header__link opacity">Ipsum</a>
                        </li>
                    </ul>
                </li>
                <li class="header-top__item opacity">
                    <a href="#!" class="header__link">Consoles<i class="fa fa-angle-down"></i></a>
                    <ul class="header-sub__list">
                        <li class="header-sub__item">
                            <a href="#!" class="header__link opacity">Lorem</a>
                        </li>
                        <li class="header-sub__item">
                            <a href="#!" class="header__link opacity">Ipsum</a>
                        </li>
                    </ul>
                </li>
                <li class="header-top__item opacity">
                    <a href="#!" class="header__link">Community</a>
                </li>
                <li class="header-top__item header__search">
                    <form class="header__search-form" action="">
                        <input class="search-item" type="text" placeholder="Search" name="search">
                        <button class="search-button" type="submit"><i class="fa fa-search opacity"></i></button>
                    </form>
                </li>
                <li class="header-top__item opacity">
                   <div>
                       <img src="./img/svg/user-ico.svg" alt="user" class="header__user-pic">
                    <a href="#!" class="header__link">My XBOX<i class="fa fa-angle-down"></i></a>
                   </div>
                    <ul class="header-sub__list">
                        <li class="header-sub__item">
                            <a href="#!" class="header__link opacity">Lorem ipsum</a>
                        </li>
                        <li class="header-sub__item">
                            <a href="#!" class="header__link opacity">Lorem ipsum</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
