<section class="highlights padding-md padding-sm">
    <div class="container">
        <div class="highlights__img">
            <img src="./img/svg/highlights-ico.svg" alt="" class="highlights-pic">
        </div>
        <div class="highlights__headings">
            <div class="highlights__title title-sm">
                <h2>The best value</h2>
            </div>
            <div class="highlights__subtitle subtitle-sm">
                <h3>in games and entertainment</h3>
            </div>
        </div>
        <div class="cards row">
            <div class="card col-xl-4 col-lg-4 col-md-12">
                <div class="card__img">
                    <img src="./img/highlight-pic-1.jpg" alt="" class="card-pic">
                </div>
                <div class="card__title">
                    <h3>XBOX ONE X</h3>
                </div>
                <div class="card__subtitle subtitle-sm">
                    <p>Faster Processing Smoother Gameplay</p>
                </div>
                <div class="card__button">
                    <button type="button" class="button effect"><a href="#!" class="button__link">Explore Consoles &amp; Accessories</a></button>
                </div>
            </div>
            <div class="card col-xl-4 col-lg-4 col-md-12">
                <div class="card__img">
                    <img src="./img/highlight-pic-2.jpg" alt="" class="card-pic">
                </div>
                <div class="card__title">
                    <h3>mixer Streaming</h3>
                </div>
                <div class="card__subtitle subtitle-sm">
                    <p>The Next Generation Of Life Game Streaming</p>
                </div>
                <div class="card__button">
                    <button type="button" class="button effect"><a href="#!" class="button__link">Start Watching mixer</a></button>
                </div>
            </div>
            <div class="card col-xl-4 col-lg-4 col-md-12">
                <div class="card__img">
                    <img src="./img/highlight-pic-3.jpg" alt="" class="card-pic">
                </div>
                <div class="card__title">
                    <h3>Free Games Every Month</h3>
                </div>
                <div class="card__subtitle subtitle-sm">
                    <p>Get up to $700 in free games</p>
                </div>
                <div class="card__button">
                    <button type="button" class="button effect"><a href="#!" class="button__link">Get Free Games</a></button>
                </div>
            </div>
        </div>
    </div>
</section>
