<section class="overview bg-light-gray">
    <div class="container">
        <div class="overview__main-info">
            <div class="main-info__title">
                <h2>Call of Duty: WWII</h2>
            </div>
            <div class="main-info__desc">
                <p>Call of Duty® returns to its roots with Call of Duty®: WWII—a breathtaking experience that redefines World War II for a new gaming generation. Land in Normandy on D-Day and battle across Europe through iconic locations in history’s most monumental war. Experience classic Call of Duty combat, the bonds of camaraderie, and the unforgiving nature of war.</p>
            </div>
            <div class="main-info__buttons padding-bot">
                <button type="button" class="button bg-gray main-info__button"><a href="#!" class="button__link">Order Now</a></button>
                <button type="button" class="button bg-gray main-info__button"><a href="#!" class="button__link">Technical Specifications</a></button>
            </div>
        </div>
        <div class="overview__video padding-bot">
            <div class="video-button" data-aperture="closed">
            <div class="video-container" >
                <video class="actual-video" src="http://www.wplay.net.ua/wp-content/uploads/2017/04/Call-of-Duty®-WWII-–-pervyy-treyler-RU.mp4" poster="./img/gameDetails/overview-video-pic.jpg">
                </video>
                <div class="play-button__aperture--left"></div>
                <div class="play-button__aperture--top-right"></div>
                <div class="play-button__aperture--bottom-right"></div>
            </div>
            </div>
        </div>
        <div class="overview__feature">
            <div class="row padding-bot">
                <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
                    <div class="feature__title">
                        <h3>Life Advice Looking Through A Window</h3>
                    </div>
                    <div class="feature__desc">
                        <p>In the Headquarters social space Major Howard hands out daily and weekly challenges, while the Quartermaster handles contracts.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
                    <div class="feature__img">
                        <img class="feature-pic" src="./img/gameDetails/overview-pic-1.jpg" alt="feature picture">
                    </div>
                </div>
            </div>
            <div class="row">
               <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
                    <div class="feature__img">
                        <img class="feature-pic" src="./img/gameDetails/overview-pic-2.jpg" alt="feature picture">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
                    <div class="feature__title">
                        <h3>The Best Answers</h3>
                    </div>
                    <div class="feature__desc">
                        <p>During the first part of the mission you will play as a spy, and at first you will not engage in combat. You will have to answer questions regarding the above document. A wrong answer will result in failing the mission.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
