<section>
  <div class="slider">
    <div class="slide">
      <div class="slide__img">
        <img src="./img/slide-pic-1.jpg"/>
      </div>
      <div class="slide__content">
        <div class="slide__headings">
           <h2 class="slide__title">Star Wars</h2>
           <h3 class="slide__subtitle">Battlefront II</h3>
        </div>
        <div class="slide__buttons">
            <button type="button" class="button slide__button bg-gray"><a class="button__link" href="#!">Watch Trailer</a></button>
            <button type="button" class="button slide__button bg-gray"><a class="button__link" href="#!">Explore Games</a></button>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__img">
        <img src="./img/slide-pic-2.jpg"/>
      </div>
      <div class="slide__content">
        <div class="slide__headings">
           <h2 class="slide__title">The Elder Scrolls V</h2>
           <h3 class="slide__subtitle">Skyrim</h3>
        </div>
        <div class="slide__buttons">
            <button type="button" class="button slide__button bg-gray"><a class="button__link" href="#!">Watch Trailer</a></button>
            <button type="button" class="button slide__button bg-gray"><a class="button__link" href="#!">Explore Games</a></button>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__img">
        <img src="./img/slide-pic-3.jpg"/>
      </div>
      <div class="slide__content">
        <div class="slide__headings">
           <h2 class="slide__title">Call of Duty</h2>
           <h3 class="slide__subtitle">Black Ops</h3>
        </div>
        <div class="slide__buttons">
            <button type="button" class="button slide__button bg-gray"><a class="button__link" href="#!">Watch Trailer</a></button>
            <button type="button" class="button slide__button bg-gray"><a class="button__link" href="#!">Explore Games</a></button>
        </div>
      </div>
    </div>
  </div>
</section>
