<section>
  <div class="slider">
    <div class="slide">
      <div class="slide__img">
        <img src="./img/star-wars__battlefront.jpg"/>
      </div>
      <div class="slide__content">
        <div class="slide__headings">
           <h2 class="slide__title">Star Wars</h2>
           <h3 class="slide__subtitle">Battlefront II</h3>
        </div>
        <div class="slide__buttons">
            <button class="slide__button"><a class="slide__link" href="#!">Watch Trailer</a></button>
            <button class="slide__button"><a class="slide__link" href="#!">Explore Games</a></button>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__img">
        <img src="./img/the-elder-scrolls__skyrim.jpg"/>
      </div>
      <div class="slide__content">
        <div class="slide__headings">
           <h2 class="slide__title">The Elder Scrolls V</h2>
           <h3 class="slide__subtitle">Skyrim</h3>
        </div>
        <div class="slide__buttons">
            <button class="slide__button"><a class="slide__link" href="#!">Watch Trailer</a></button>
            <button class="slide__button"><a class="slide__link" href="#!">Explore Games</a></button>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__img">
        <img src="./img/call_of-duty__black-ops.jpg"/>
      </div>
      <div class="slide__content">
        <div class="slide__headings">
           <h2 class="slide__title">Call of Duty</h2>
           <h3 class="slide__subtitle">Black Ops</h3>
        </div>
        <div class="slide__buttons">
            <button class="slide__button"><a class="slide__link" href="#!">Watch Trailer</a></button>
            <button class="slide__button"><a class="slide__link" href="#!">Explore Games</a></button>
        </div>
      </div>
    </div>
  </div>
</section>
