<section class="specification bg-light-gray">
    <div class="container">
        <div class="specification__title">
            <h2>Technical Specifications</h2>
        </div>
        <div class="specification__headings">
            <div class="row">
                <div class="col-lg-4 col-xl-4 col-md-6 col-xs-12">
                    <div class="specification__subtitle">
                        <a href="#!" class="specification__subtitle-link">Computer Hardware Desktops And Notebooks And Handhelds Oh My</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-xs-12">
                    <div class="specification__subtitle">
                        <a href="#!" class="specification__subtitle-link">For Women Only Your Computer Usage Could Cost You Your Job</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-xs-12">
                    <div class="specification__subtitle">
                        <a href="#!" class="specification__subtitle-link">Party Jokes Startling But Unnecessary</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-xs-12">
                    <div class="specification__subtitle">
                        <a href="#!" class="specification__subtitle-link">Microsoft Patch Management For Home Users</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-xs-12">
                    <div class="specification__subtitle">
                        <a href="#!" class="specification__subtitle-link">Going Wireless With Your Headphones</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-xs-12">
                    <div class="specification__subtitle">
                        <a href="#!" class="specification__subtitle-link">Get The Boot A Birds Eye Look Into Mcse Boot Camps</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="specification__buttons">
            <button type="button" class="button bg-gray specification__button"><a href="#!" class="button__link">XBOX Consoles</a></button>
            <button type="button" class="button bg-gray specification__button"><a href="#!" class="button__link">Start streaming on mixer</a></button>
        </div>
    </div>
</section>
