@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-Light'), local('HelveticaNeue-Light'),
       url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
       url('./static/fonts/HelveticaNeueCyr-Light.woff') format('woff');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../node_modules/font-awesome/fonts/fontawesome-webfont.eot');
  src: url('../../node_modules/font-awesome/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../../node_modules/font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('../../node_modules/font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
    url('../../node_modules/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../../node_modules/font-awesome/fonts/fontawesome-webfont.svg') format('svg');
//  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
