<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Xbox</title>
</head>

<body>

    <!--  haader  -->
    {{> ./sections/header.handlebars }}
    <!--  end header  -->

    <!--  slickSlider  -->
    {{> ./sections/slickSlider.handlebars }}
    <!-- end slickSlider  -->

    <!--  highlights  -->
    {{> ./sections/highlights.handlebars }}
    <!-- end highlights  -->

    <!--  exclusive  -->
    {{> ./sections/exclusive.handlebars }}
    <!-- end exclusive  -->

    <!--  designLab  -->
    {{> ./sections/designLab.handlebars }}
    <!-- end designLab  -->

    <!--  footer  -->
    {{> ./sections/footer.handlebars }}
    <!-- end footer  -->

</body>
</html>
