<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Xbox</title>
</head>

<body>

    <!--  haader  -->
    {{> ./sections/header.handlebars }}
    <!--  end header  -->

</body>
</html>
